<!DOCTYPE html>
<html lang="en">

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="description" content="The periodic table of elements.">
    <meta name="keywords" content="elements, periodic table, phases, families">
    <link rel="shortcut icon" href="static/WebImages/chemistry_logo.png">
	
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Periodic Table of the Elements</title>

	<link href="style.css" rel="STYLESHEET" type="text/css" /> 
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" integrity="sha384-2hfp1SzUoho7/TsGGGDaFdsuuDL0LX2hnUp6VkX3CUQ2K4K+xjboZdsXyp4oUHZj" crossorigin="anonymous">

     <style>

        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
           }

        td, th {
            text-align: left;
            padding: 8px;
            }

        tr:nth-child(even) {
        background-color: #dddddd;
            }

		h3.myIntroTitle {
			padding-left: 50px;
			floa: left;
			}
		p.myIntroduction {
			padding-left: 50px;
			float: left;
			}
		
		.inline { 
			width: 30%;
			display: inline-block;
			}
			
		.characteristics {
			list-style-type: square;
			}
		
		.charli {
			background-color: blue;
			}

		button{
			margin:auto;
			display:block;
			}

		button{
			padding:16px 32px;
			font-size:22px;
			font-weight:500;
			color: white;
			background: #333;
			border:0;
			font-weight:100;
			}

		button:hover{
			background: #69D9E4;
			color: black;
			}
			
      </style>   
  </head>
  <body>
    <h1>Periodic Table of the Elements</h1>


      <ul>

          <li><a href= {{ url_for("index") }} >Home</a></li>
          <li><a href= {{ url_for("about") }} >About</a></li>
          <li><a href= {{ url_for("element") }} >Element</a></li>
          <li><a href= {{ url_for("family") }} >Family</a></li>
          <li><a href= {{ url_for("phase") }} >Phase</a></li>
		  
      </ul>   

      <br>
      <h2 align="center" style="color: white; background-color: gray; margin-top: 10px; margin-bottom: 10px; padding-top: 10px; padding-bottom: 10px"><b>Alkaline Earth Metals</b></h2>
	  <br />
	  
	        <table>
          <tr style="background-color: white">
              <td style="text-align:center" rowspan="5"><img src="static/WebImages/alkalineearthmetal.png" alt="AlkalineEarthMetal" id="alkalineearthmetalID" width=100% /></td>
			  <td colspan="4"><h3><b>Common Characteristics</b></h3></td>
			  <td></td>
			  <td></td>
          </tr>
		  <tr style="background-color: white">
			  <td>Not Found Freely in Nature</td>
			  <td>High Boiling Point</td>
			  <td>Silver in Color</td>
			  <td>Distributed in Rock</td>
		  </tr>
		  <tr style="background-color: white">
			  <td>Very Reactive</td>
			  <td>High Melting Point</td>
			  <td>Ductile</td>
			  <td>Two Valence Electrons</td>
		  </tr>
		  <tr style="background-color: white">
			  <td>React Easily with Water</td>
			  <td>Low Electron Affinity</td>
			  <td>Malleable</td>
			  <td>Present in Earth's Crust</td>
		  </tr>
		  <tr style="background-color: white">
			  <td>React Easily with Halogens</td>
			  <td>Low Electronegativity</td>
			  <td>Soft and Strong</td>
			  <td>Oxidation Number of +2</td>
		  </tr>
      </table>

	  <br /><h3 style="text-align:center;"><b>Meet the Family</b></h3><br />
	  
	  <div align="center">
	  <table class="inline">
		  <tr>
			  <th style="text-align:center; background-color: black; color: white" colspan="2"><h2>Beryllium</h2></th>
		  </tr>
		  <tr style="background-color: white; border-bottom: 1px solid black">
			  <td style="text-align: right;"><h4>Atomic Number</h4></td>
			  <td><h4>4</h4></td>
		  </tr>
		  <tr style="background-color: white; border-bottom: 1px solid black">
			  <td style="text-align: right;"><h4>Period</h4></td>
			  <td><h4>2</h4></td>
		  </tr>
		  <tr style="background-color: white; border-bottom: 1px solid black">
			  <td style="text-align: right;"><h4>Atomic Weight</h4></td>
			  <td><h4>9.0122</h4></td>
		  </tr>
		  <tr style="background-color: white; border-bottom: 1px solid black">
			  <td style="text-align: right;"><h4>Discovery</h4></td>
			  <td><h4>1798</h4></td>
		  </tr>
		  <tr style="background-color: white; border-bottom: 1px solid black">
			  <td colspan="2"><img src="static/WebImages/beryllium.fam.jpg" alt="BeryFam" id="beryfamID" width=100% /></td>
		  </tr>
	  </table>
	  <table class="inline">
		  <tr>
			  <th style="text-align:center; background-color: black; color: white" colspan="2"><h2>Magnesium</h2></th>
		  </tr>
		  <tr style="background-color: white; border-bottom: 1px solid black">
			  <td style="text-align: right;"><h4>Atomic Number</h4></td>
			  <td><h4>12</h4></td>
		  </tr>
		  <tr style="background-color: white; border-bottom: 1px solid black">
			  <td style="text-align: right;"><h4>Period</h4></td>
			  <td><h4>3</h4></td>
		  </tr>
		  <tr style="background-color: white; border-bottom: 1px solid black">
			  <td style="text-align: right;"><h4>Atomic Weight</h4></td>
			  <td><h4>24.305</h4></td>
		  </tr>
		  <tr style="background-color: white; border-bottom: 1px solid black">
			  <td style="text-align: right;"><h4>Discovery</h4></td>
			  <td><h4>1755</h4></td>
		  </tr>
		  <tr style="background-color: white; border-bottom: 1px solid black">
			  <td colspan="2"><img src="static/WebImages/magnesium.fam.jpg" alt="MagFam" id="magfamID" width=100% /></td>
		  </tr>
	  </table>
	  <table class="inline">
		  <tr>
			  <th style="text-align:center; background-color: black; color: white" colspan="2"><h2>Calcium</h2></th>
		  </tr>
		  <tr style="background-color: white; border-bottom: 1px solid black">
			  <td style="text-align: right;"><h4>Atomic Number</h4></td>
			  <td><h4>20</h4></td>
		  </tr>
		  <tr style="background-color: white; border-bottom: 1px solid black">
			  <td style="text-align: right;"><h4>Period</h4></td>
			  <td><h4>4</h4></td>
		  </tr>
		  <tr style="background-color: white; border-bottom: 1px solid black">
			  <td style="text-align: right;"><h4>Atomic Weight</h4></td>
			  <td><h4>40.078</h4></td>
		  </tr>
		  <tr style="background-color: white; border-bottom: 1px solid black">
			  <td style="text-align: right;"><h4>Discovery</h4></td>
			  <td><h4>1808</h4></td>
		  </tr>
		  <tr style="background-color: white; border-bottom: 1px solid black">
			  <td colspan="2"><img src="static/WebImages/calcium.fam.jpg" alt="CalcFam" id="calcfamID" width=100% /></td>
		  </tr>
	  </table>
	  <table class="inline">
		  <tr>
			  <th style="text-align:center; background-color: black; color: white" colspan="2"><h2>Strontium</h2></th>
		  </tr>
		  <tr style="background-color: white; border-bottom: 1px solid black">
			  <td style="text-align: right;"><h4>Atomic Number</h4></td>
			  <td><h4>38</h4></td>
		  </tr>
		  <tr style="background-color: white; border-bottom: 1px solid black">
			  <td style="text-align: right;"><h4>Period</h4></td>
			  <td><h4>5</h4></td>
		  </tr>
		  <tr style="background-color: white; border-bottom: 1px solid black">
			  <td style="text-align: right;"><h4>Atomic Weight</h4></td>
			  <td><h4>87.62</h4></td>
		  </tr>
		  <tr style="background-color: white; border-bottom: 1px solid black">
			  <td style="text-align: right;"><h4>Discovery</h4></td>
			  <td><h4>1787</h4></td>
		  </tr>
		  <tr style="background-color: white; border-bottom: 1px solid black">
			  <td colspan="2"><img src="static/WebImages/strontium.fam.jpg" alt="StrontFam" id="strontfamID" width=100% /></td>
		  </tr>
	  </table>
	  <table class="inline">
		  <tr>
			  <th style="text-align:center; background-color: black; color: white" colspan="2"><h2>Barium</h2></th>
		  </tr>
		  <tr style="background-color: white; border-bottom: 1px solid black">
			  <td style="text-align: right;"><h4>Atomic Number</h4></td>
			  <td><h4>56</h4></td>
		  </tr>
		  <tr style="background-color: white; border-bottom: 1px solid black">
			  <td style="text-align: right;"><h4>Period</h4></td>
			  <td><h4>6</h4></td>
		  </tr>
		  <tr style="background-color: white; border-bottom: 1px solid black">
			  <td style="text-align: right;"><h4>Atomic Weight</h4></td>
			  <td><h4>137.327</h4></td>
		  </tr>
		  <tr style="background-color: white; border-bottom: 1px solid black">
			  <td style="text-align: right;"><h4>Discovery</h4></td>
			  <td><h4>1772</h4></td>
		  </tr>
		  <tr style="background-color: white; border-bottom: 1px solid black">
			  <td colspan="2"><img src="static/WebImages/barium.fam.jpg" alt="BarFam" id="barfamID" width=100% /></td>
		  </tr>
	  </table>
<table class="inline">
		  <tr>
			  <th style="text-align:center; background-color: black; color: white" colspan="2"><h2>Radium</h2></th>
		  </tr>
		  <tr style="background-color: white; border-bottom: 1px solid black">
			  <td style="text-align: right;"><h4>Atomic Number</h4></td>
			  <td><h4>88</h4></td>
		  </tr>
		  <tr style="background-color: white; border-bottom: 1px solid black">
			  <td style="text-align: right;"><h4>Period</h4></td>
			  <td><h4>7</h4></td>
		  </tr>
		  <tr style="background-color: white; border-bottom: 1px solid black">
			  <td style="text-align: right;"><h4>Atomic Weight</h4></td>
			  <td><h4>~ 226</h4></td>
		  </tr>
		  <tr style="background-color: white; border-bottom: 1px solid black">
			  <td style="text-align: right;"><h4>Discovery</h4></td>
			  <td><h4>1898</h4></td>
		  </tr>
		  <tr style="background-color: white; border-bottom: 1px solid black">
			  <td colspan="2"><img src="static/WebImages/radium.fam.jpg" alt="RadFam" id="radfamID" width=100% /></td>
		  </tr>
	  </table>
	  </div>
	  <br />
	  
	  <br /><h5 style="text-align:center;">Check out the videos below!</h5>
      <table>
          <tr>
              <td style="text-align:center">
			  <iframe width="560" height="315" src="https://www.youtube.com/embed/HdWeZ3PTUxc?rel=0?ecver=1" frameborder="0" allowfullscreen></iframe>
			  </td>
              <td style="text-align:center">
			  <iframe width="560" height="315" src="https://www.youtube.com/embed/EbkLp3-o78E?rel=0?ecver=1" frameborder="0" allowfullscreen></iframe>
			  </td>
          </tr>
      </table>

	  <br />
	  <h4 style="text-align:center;">They laughed when I said I wanted to make Stronium Sulfide...</h4>
	  <h4 id="punchline" style="display: none; text-align:center">But I was SRS!</h4>
	  <br />
	  
	  <button type="button" onclick="document.getElementById('punchline').style.display='block'">Click Me for the Punchline!</button>
	  
	  <br /><br />

  </body>
</html>