<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="description" content="The periodic table of elements.">
    <meta name="keywords" content="elements, periodic table, phases, families">
    <link rel="shortcut icon" href="static/WebImages/chemistry_logo.png">
	
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Periodic Table of the Elements</title>

	<link href="style.css" rel="STYLESHEET" type="text/css" /> 
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" integrity="sha384-2hfp1SzUoho7/TsGGGDaFdsuuDL0LX2hnUp6VkX3CUQ2K4K+xjboZdsXyp4oUHZj" crossorigin="anonymous">

	<!-- JavaScript for data table sortability-->
    <script src="sorttable.js"></script>
	
    <style>

        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(odd) {
            background-color: #dddddd;
        }

		table.sortable th:not(.sorttable_sorted):not(.sorttable_sorted_reverse):not(.sorttable_nosort):after { 
		content: " \25B4\25BE" 
		}		
    </style>
</head>
<body>
    <h1>Periodic Table of the Elements</h1>


    <ul>

        <li><a href= {{ url_for("index") }} >Home</a></li>
        <li><a href= {{ url_for("about") }} >About</a></li>
        <li><a href= {{ url_for("element") }} >Element</a></li>
        <li><a class="active" href={{ url_for("family") }} >Family</a></li>
        <li><a href= {{ url_for("phase") }} >Phase</a></li>

    </ul>

    <br>
    <h2  align="center">Family</h2>


    <div id="banner">
        <p style="text-align:center;"><img src="static/WebImages/families.jpg" alt="Families" id="familyID" height=50% width=60% /></p> 
    </div>

      <table class="sortable">
          <tr style="background-color:white">
            <th>Name</th>
            <th>Family Number</th>
            <th>Number of Elements</th>
            <th>Most Abudant Element</th>
            <th>Stable Phases</th>
        </tr>
        <tr>
            <td><a href= {{ url_for("alkalimetal") }} >Alkali Metals</a></td>
            <td>IA</td>
            <td>6</td>
            <td><a href= {{ url_for("sodium") }} >Sodium</a></td>
            <td><a href= {{ url_for("solid") }} >Solid</a></td>
        </tr>
        <tr>
            <td><a href= {{ url_for("alkalineearthmetal") }} >Alkaline Earth Metals</a></td>
            <td>IIA</td>
            <td>6</td>
            <td><a href= {{ url_for("calcium") }} >Calcium</a></td>
            <td><a href= {{ url_for("solid") }} >Solid</a></td>
        </tr>
        <tr>
            <td><a href= {{ url_for("transitionmetal") }} >Transition Metals</a></td>
            <td>N/A</td>
            <td>38</td>
            <td><a href= {{ url_for("iron") }} >Iron</a></td>
            <td><a href= {{ url_for("solid") }} >Solid</a>, <a href= {{ url_for("liquid") }} >Liquid</a</td>
        </tr>
        <tr>
            <td><a href= {{ url_for("halogen") }} >Halogens</a></td>
            <td>VIIA</td>
            <td>5</td>
            <td><a href= {{ url_for("fluorine") }} >Fluorine</a></td>
            <td><a href= {{ url_for("solid") }} >Solid</a>, <a href= {{ url_for("liquid") }} >Liquid</a>, and <a href= {{ url_for("gas") }} >Gas</a></td>
        </tr>
        <tr>
            <td><a href= {{ url_for("noblegas") }} >Noble Gases</a></td>
            <td>VIIIA</td>
            <td>6</td>
            <td><a href= {{ url_for("argon") }} >Argon</a></td>
            <td><a href= {{ url_for("gas") }} >Gas</a></td>
        </tr>		
        <tr>
            <td><a href= {{ url_for("lanthanides") }} >Lanthanides</a></td>
            <td>None</td>
            <td>15</td>
            <td><a >Cerium</a></td>
            <td><a href= {{ url_for("solid") }} >Solid</a></td>
        </tr>
        <tr>
            <td><a href= {{ url_for("actinide") }} >Actinides</a></td>
            <td>None</td>
            <td>15</td>
            <td><a >Uranium</a></td>
            <td><a href= {{ url_for("solid") }} >Solid</a></td>
        </tr>
    </table>
	<br /><br />
</body>
</html>