<!DOCTYPE html>
<html lang="en">

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="description" content="The periodic table of elements.">
    <meta name="keywords" content="elements, periodic table, phases, families">
    <link rel="shortcut icon" href="static/WebImages/chemistry_logo.png">
	
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Periodic Table of the Elements</title>

	<link href="style.css" rel="STYLESHEET" type="text/css" /> 
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" integrity="sha384-2hfp1SzUoho7/TsGGGDaFdsuuDL0LX2hnUp6VkX3CUQ2K4K+xjboZdsXyp4oUHZj" crossorigin="anonymous">

     <style>
	sup {
		vertical-align: super;
		font-size: smaller;
		}

        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
           }

        td, th {
            text-align: left;
            padding: 8px;
            }

        tr:nth-child(even) {
        background-color: #dddddd;
            }

		h3.myIntroTitle {
			padding-left: 50px;
			floa: left;
			}
		p.myIntroduction {
			padding-left: 50px;
			float: left;
			}
		
		.inline { 
			width: 23%;
			display: inline-block;
			}
		
		button{
			margin:auto;
			display:block;
			}

		button{
			padding:16px 32px;
			font-size:22px;
			font-weight:500;
			color: white;
			background: #333;
			border:0;
			font-weight:100;
			}

		button:hover{
			background: #69D9E4;
			color: black;
			}
			
      </style>   
  </head>
  <body>
    <h1>Periodic Table of the Elements</h1>


      <ul>

          <li><a href= {{ url_for("index") }} >Home</a></li>
          <li><a href= {{ url_for("about") }} >About</a></li>
          <li><a href= {{ url_for("element") }} >Element</a></li>
          <li><a href= {{ url_for("family") }} >Family</a></li>
          <li><a href= {{ url_for("phase") }} >Phase</a></li>
		  
      </ul>   

      <br>
      <h2 align="center"><b>Gold</b></h2>
	  <br />
	  
      <img src="static/WebImages/gold.JPG" alt="Gold" id="GoldID" width=30% style="float: right;" />
	  <div class="myIntroduction"><h3 style="padding-left: 50px"><b>History, Common Uses, and Fun Facts</b></h3>
      <p style="padding-left: 50px"> Gold was among the first metals to be mined because it commonly occurs in its native form, 
	  that is, not combined with other elements, because it is beautiful and imperishable, and because exquisite objects can be made from it. 
	  Artisans of ancient civilizations used gold lavishly in decorating tombs and temples, and gold objects made more than 5,000 years ago 
	  have been found in Egypt.Nations of the world today use gold as a medium of exchange in monetary transactions. A large part of the gold stocks 
	  of the United States is stored in the vault of the Fort Knox Bullion Depository. The Depository, located about 30 miles southwest of Louisville, 
	  Kentucky, is under the supervision of the Director of the Mint. Gold has also been commonly used in dentistry for fillings and crowns, thanks to 
	  its durability. It also shows promise in the battle against cancer, as its radioactive isotope Au-198 can be directly injected into a tumor. 
	  The radiation will attack the cancer cells without greatly affecting the rest of the body. Other cancer drugs leverage
	  gold nanoparticles to more directly treat tumors while limiting the toxic exposure to healthy cells. Most mined gold is stored as bullion. 
	  It is also, however, used extensively in jewellery, either in its pure form or as an alloy. The term ‘carat’ indicates the amount of gold 
	  present in an alloy. 24-carat is pure gold, but it is very soft. 18- and 9-carat gold alloys are commonly used because they are more durable. 
	  Gold can be beaten into very thin sheets (gold leaf) to be used in art, for decoration and as architectural ornament. Electroplating can be used 
	  to cover another metal with a very thin layer of gold. This is used in gears for watches, artificial limb joints, cheap jewellery and electrical 
	  connectors. It is ideal for protecting electrical copper components because it conducts electricity well and does not corrode (which would break 
	  the contact). Thin gold wires are used inside computer chips to produce circuits.
	  </p>
      </div>
	  
	  <br /><h3 style="text-align:center;"><b>Safety Concerns</b></h3>
      <table>
          <tr>
              <th style="text-align:center" rowspan="5"><img src="static/WebImages/goldball.jpg" alt="Gold_cyl" id="Gold_cylID" width=100% /></th>
              <th>Chemical Contact</th>
			  <th>Acute Health Effect</th>
              <th>First Aid Measures</th>
          </tr>
		  <tr>
              <td>Eye Contact</td>
			  <td>Redness, pain, and watery eyes.</td>
              <td>Flush eyes with water for 10 minutes.</td>
          </tr>		  
		  <tr>
              <td>Inhalation</td>
			  <td>Dust could be irritating to respiratory trace.</td>
              <td>Relocate to fresh air. If breathing is difficult, seek medical assistance at once.</td>
          </tr>
		  <tr>
              <td>Skin Contact</td>
			  <td>May cause contact dermatitis.</td>
              <td>Wash skin gently and with water and non-abrasive soap.</td>
          </tr>
		  <tr>
              <td>Ingestion</td>
			  <td>Generally not toxic</td>
              <td>If necessary call doctor.</td>
          </tr>
      </table>	  	  
	  
	  <br /><p style="text-align:center;">For more on the safety data sheet, click <a href="http://www.sciencelab.com/msds.php?msdsId=9924183">here</a>.</p>
	  
	  <br /><h3 style="text-align:center;"><b>Technical Properties</b></h3>
	  
	  <div align="center">
	  <table class="inline">
		  <th>
		  <tr>
			  <th style="text-align:center; background-color: black; color: white" colspan="2">Classifications</th>
		  </tr>
		  <tr>
			  <td style="text-align: right; border-bottom: 1px solid black;"width="140px">Atomic Number</td>
			  <td style="border-bottom: 1px solid black;" width="125px">79</td>
		  </tr>
		  <tr style="background-color: white;">
			  <td style="text-align: right; border-bottom: 1px solid black;">Atomic Weight</td>
			  <td style="border-bottom: 1px solid black;">196.96655</td>
		  </tr>
		  <tr style="background-color: white;">
			  <td style="text-align: right; border-bottom: 1px solid black;"><a href= {{ url_for("family") }} >Family</a></td>
			  <td style="border-bottom: 1px solid black;"><a href= {{ url_for("transitionmetal") }} >Transition Metal</a></td>
		  </tr>
		  <tr style="background-color: white;">
			  <td style="text-align: right; border-bottom: 1px solid black;"><a href= {{ url_for("phase") }} >Phase</a></td>
			  <td style="border-bottom: 1px solid black;"><a href= {{ url_for("solid") }} >Solid</a></td>
		  </tr>
		  <tr style="background-color: white;">
			  <td style="text-align: right; border-bottom: 1px solid black;">CAS Number</td>
			  <td style="border-bottom: 1px solid black;">7440-57-5</td>
		  </tr>
	  </table>
	  <table class="inline">
		  <tr>
			  <th style="text-align:center; background-color: black; color: white" colspan="2">Thermal Properties</th>
		  </tr>
		  <tr style="background-color: white;">
			  <td style="text-align: right; border-bottom: 1px solid black;" width="140px">Melting Point</td>
			  <td style="border-bottom: 1px solid black;" width="125px">1064.18<sup>o</sup>C</td>
		  </tr>
		  <tr style="background-color: white;">
			  <td style="text-align: right; border-bottom: 1px solid black;">Boiling Point</td>
			  <td style="border-bottom: 1px solid black;">2856<sup>o</sup>C</td>
		  </tr>
		  <tr style="background-color: white;">
			  <td style="text-align: right; border-bottom: 1px solid black;">Heat of Fusion</td>
			  <td style="border-bottom: 1px solid black;">12.5 kJ/mol</td>
		  </tr>
		  <tr style="background-color: white;">
			  <td style="text-align: right; border-bottom: 1px solid black;">Heat of Vaporization</td>
			  <td style="border-bottom: 1px solid black;">330 kJ/mol</td>
		  </tr>
		  <tr style="background-color: white;">
			  <td style="text-align: right; border-bottom: 1px solid black;">Specific Heat</td>
			  <td style="border-bottom: 1px solid black;">129.1 J(kg K)</td>
		  </tr>
	  </table>
	  <table class="inline">
		  <th>
		  <tr>
			  <th style="text-align:center; background-color: black; color: white" colspan="2">Abundance</th>
		  </tr>
		  <tr style="background-color: white;">
			  <td style="text-align: right; border-bottom: 1px solid black;"width="125px">% in Universe</td>
			  <td style="border-bottom: 1px solid black;" width="110px">6x10<sup>-8</sup>%</td>
		  </tr>
		  <tr style="background-color: white;">
			  <td style="text-align: right; border-bottom: 1px solid black;">% in Sun</td>
			  <td style="border-bottom: 1px solid black;">1x10<sup>-7</sup>%</td>
		  </tr>
		  <tr style="background-color: white;">
			  <td style="text-align: right; border-bottom: 1px solid black;">% in Earth's Crust</td>
			  <td style="border-bottom: 1px solid black;">3.1x10<sup>-7</sup>%</td>
		  </tr>
		  <tr style="background-color: white;">
			  <td style="text-align: right; border-bottom: 1px solid black;">% in Oceans</td>
			  <td style="border-bottom: 1px solid black;">5x10<sup>-9</sup>%</td>
		  </tr>
		  <tr style="background-color: white;">
			  <td style="text-align: right; border-bottom: 1px solid black;">% in Humans</td>
			  <td style="border-bottom: 1px solid black;">1x10<sup>-5</sup>%</td>
		  </tr>
	  </table>
	  <table class="inline">
		  <th>
		  <tr>
			  <th style="text-align:center; background-color: black; color: white" colspan="2">Atomic Dimensions</th>
		  </tr>
		  <tr style="background-color: white;">
			  <td style="text-align: right; border-bottom: 1px solid black;"width="210px">Atomic Radius</td>
			  <td style="border-bottom: 1px solid black;" width="125px">174 pm</td>
		  </tr>
		  <tr style="background-color: white;">
			  <td style="text-align: right; border-bottom: 1px solid black;">Covalent Radius</td>
			  <td style="border-bottom: 1px solid black;">144 pm</td>
		  </tr>
		  <tr style="background-color: white;">
			  <td style="text-align: right; border-bottom: 1px solid black;">Van der Waals Radius</td>
			  <td style="border-bottom: 1px solid black;">166 pm</td>
		  </tr>
		  <tr style="background-color: white;">
			  <td style="text-align: right; border-bottom: 1px solid black;">Space Group Name</td>
			  <td style="border-bottom: 1px solid black;">Fm_3m</td>
		  </tr>
		  <tr style="background-color: white;">
			  <td style="text-align: right; border-bottom: 1px solid black;">Space Group Number</td>
			  <td style="border-bottom: 1px solid black;">225</td>
		  </tr>
	  </table>
	  </div>
	  <br />
	  
	  <br /><h5 style="text-align:center;">Check out the videos below!</h5>
      <table>
          <tr>
              <td style="text-align:center">
			  <iframe width="560" height="315" src="https://www.youtube.com/embed/lqD2wlnYnEI" frameborder="0" allowfullscreen></iframe>
			  </td>
              <td style="text-align:center">
			  <iframe width="560" height="315" src="https://www.youtube.com/embed/gGTQaLLugGc" frameborder="0" allowfullscreen></iframe>
			  </td>
          </tr>
      </table>
	  
	  <br />
	  <h4 style="text-align:center;">Silver walks up to Gold in a bar and says...</h4>
	  <h4 id="punchline" style="display: none; text-align:center">"AU, get out of here!"</h4>
	  <br />
	  
	  <button type="button" onclick="document.getElementById('punchline').style.display='block'">Click Me for the Punchline!</button>
	  
	  <br /><br />

  </body>
</html>