<!DOCTYPE html>
<html lang="en">

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="description" content="The periodic table of elements.">
    <meta name="keywords" content="elements, periodic table, phases, families">
    <link rel="shortcut icon" href="WebImages/chemistry_logo.png">
	
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Periodic Table of the Elements</title>

	<link href="style.css" rel="STYLESHEET" type="text/css" /> 
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" integrity="sha384-2hfp1SzUoho7/TsGGGDaFdsuuDL0LX2hnUp6VkX3CUQ2K4K+xjboZdsXyp4oUHZj" crossorigin="anonymous">

     <style>

        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
           }

        td, th {
            text-align: left;
            padding: 8px;
            }

        tr:nth-child(even) {
        background-color: #dddddd;
            }

		h3.myIntroTitle {
			padding-left: 50px;
			floa: left;
			}
		p.myIntroduction {
			padding-left: 50px;
			float: left;
			}
		
		.inline { 
			width: 30%;
			display: inline-block;
			}
			
		.characteristics {
			list-style-type: square;
			}
		
		.charli {
			background-color: blue;
			}

		button{
			margin:auto;
			display:block;
			}

		button{
			padding:16px 32px;
			font-size:22px;
			font-weight:500;
			color: white;
			background: #333;
			border:0;
			font-weight:100;
			}

		button:hover{
			background: #69D9E4;
			color: black;
			}
			
      </style>   
  </head>
  <body>
    <h1>Periodic Table of the Elements</h1>


      <ul>

          <li><a href= {{ url_for("index") }} >Home</a></li>
          <li><a href= {{ url_for("about") }} >About</a></li>
          <li><a href= {{ url_for("element") }} >Element</a></li>
          <li><a href= {{ url_for("family") }} >Family</a></li>
          <li><a href= {{ url_for("phase") }} >Phase</a></li>
		  
      </ul>   

      <br>
      <h2 align="center" style="color: white; background-color: gray; margin-top: 10px; margin-bottom: 10px; padding-top: 10px; padding-bottom: 10px"><b>Halogens</b></h2>
	  <br />
	  
	        <table>
          <tr style="background-color: white">
              <td style="text-align:center" rowspan="5"><img src="WebImages/halogen.png" alt="Halogen" id="halogenID" width=100% /></td>
			  <td colspan="4"><h3><b>Common Characteristics</b></h3></td>
			  <td></td>
			  <td></td>
          </tr>
		  <tr style="background-color: white">
			  <td>Form Ionic Salts</td>
			  <td>Extremely Reactive</td>
			  <td>Diatomic at Room Temperature</td>
			  <td>Used in Several Industries</td>
		  </tr>
		  <tr style="background-color: white">
			  <td>React with Alkali Metals</td>
			  <td>Never Isolated in Nature</td>
			  <td>Never Colorless</td>
			  <td>Low Boiling Point</td>
		  </tr>
		  <tr style="background-color: white">
			  <td>Oxidizing Agents</td>
			  <td>All Three Phases</td>
			  <td>Form Halides</td>
			  <td>Brittle Solids</td>
		  </tr>
		  <tr style="background-color: white">
			  <td>Seven Valence Electrons</td>
			  <td>High Electronegativity</td>
			  <td>Poor Conductors</td>
			  <td>Low Melting Point</td>
		  </tr>
      </table>

	  <br /><h3 style="text-align:center;"><b>Meet the Family</b></h3><br />
	  
	  <div align="center">
	  <table class="inline">
		  <tr>
			  <th style="text-align:center; background-color: black; color: white" colspan="2"><h2>Fluorine</h2></th>
		  </tr>
		  <tr style="background-color: white; border-bottom: 1px solid black">
			  <td style="text-align: right;"><h4>Atomic Number</h4></td>
			  <td><h4>9</h4></td>
		  </tr>
		  <tr style="background-color: white; border-bottom: 1px solid black">
			  <td style="text-align: right;"><h4>Period</h4></td>
			  <td><h4>2</h4></td>
		  </tr>
		  <tr style="background-color: white; border-bottom: 1px solid black">
			  <td style="text-align: right;"><h4>Atomic Weight</h4></td>
			  <td><h4>18.9984</h4></td>
		  </tr>
		  <tr style="background-color: white; border-bottom: 1px solid black">
			  <td style="text-align: right;"><h4>Discovery</h4></td>
			  <td><h4>1810</h4></td>
		  </tr>
		  <tr style="background-color: white; border-bottom: 1px solid black">
			  <td colspan="2"><img src="WebImages/fluorine.fam.jpg" alt="FluorFam" id="fluorfamID" width=100% /></td>
		  </tr>
	  </table>
	  <table class="inline">
		  <tr>
			  <th style="text-align:center; background-color: black; color: white" colspan="2"><h2>Chlorine</h2></th>
		  </tr>
		  <tr style="background-color: white; border-bottom: 1px solid black">
			  <td style="text-align: right;"><h4>Atomic Number</h4></td>
			  <td><h4>17</h4></td>
		  </tr>
		  <tr style="background-color: white; border-bottom: 1px solid black">
			  <td style="text-align: right;"><h4>Period</h4></td>
			  <td><h4>3</h4></td>
		  </tr>
		  <tr style="background-color: white; border-bottom: 1px solid black">
			  <td style="text-align: right;"><h4>Atomic Weight</h4></td>
			  <td><h4>35.45</h4></td>
		  </tr>
		  <tr style="background-color: white; border-bottom: 1px solid black">
			  <td style="text-align: right;"><h4>Discovery</h4></td>
			  <td><h4>1774</h4></td>
		  </tr>
		  <tr style="background-color: white; border-bottom: 1px solid black">
			  <td colspan="2"><img src="WebImages/chlorine.fam.jpg" alt="ChlorFam" id="chlorfamID" width=100% /></td>
		  </tr>
	  </table>
	  <table class="inline">
		  <tr>
			  <th style="text-align:center; background-color: black; color: white" colspan="2"><h2>Bromine</h2></th>
		  </tr>
		  <tr style="background-color: white; border-bottom: 1px solid black">
			  <td style="text-align: right;"><h4>Atomic Number</h4></td>
			  <td><h4>35</h4></td>
		  </tr>
		  <tr style="background-color: white; border-bottom: 1px solid black">
			  <td style="text-align: right;"><h4>Period</h4></td>
			  <td><h4>4</h4></td>
		  </tr>
		  <tr style="background-color: white; border-bottom: 1px solid black">
			  <td style="text-align: right;"><h4>Atomic Weight</h4></td>
			  <td><h4>79.904</h4></td>
		  </tr>
		  <tr style="background-color: white; border-bottom: 1px solid black">
			  <td style="text-align: right;"><h4>Discovery</h4></td>
			  <td><h4>1825</h4></td>
		  </tr>
		  <tr style="background-color: white; border-bottom: 1px solid black">
			  <td colspan="2"><img src="WebImages/bromine.fam.jpg" alt="BroFam" id="brofamID" width=100% /></td>
		  </tr>
	  </table>
	  <table class="inline">
		  <tr>
			  <th style="text-align:center; background-color: black; color: white" colspan="2"><h2>Iodine</h2></th>
		  </tr>
		  <tr style="background-color: white; border-bottom: 1px solid black">
			  <td style="text-align: right;"><h4>Atomic Number</h4></td>
			  <td><h4>53</h4></td>
		  </tr>
		  <tr style="background-color: white; border-bottom: 1px solid black">
			  <td style="text-align: right;"><h4>Period</h4></td>
			  <td><h4>5</h4></td>
		  </tr>
		  <tr style="background-color: white; border-bottom: 1px solid black">
			  <td style="text-align: right;"><h4>Atomic Weight</h4></td>
			  <td><h4>126.904</h4></td>
		  </tr>
		  <tr style="background-color: white; border-bottom: 1px solid black">
			  <td style="text-align: right;"><h4>Discovery</h4></td>
			  <td><h4>1811</h4></td>
		  </tr>
		  <tr style="background-color: white; border-bottom: 1px solid black">
			  <td colspan="2"><img src="WebImages/iodine.fam.jpg" alt="IoFam" id="iofamID" width=100% /></td>
		  </tr>
	  </table>
	  <table class="inline">
		  <tr>
			  <th style="text-align:center; background-color: black; color: white" colspan="2"><h2>Astatine</h2></th>
		  </tr>
		  <tr style="background-color: white; border-bottom: 1px solid black">
			  <td style="text-align: right;"><h4>Atomic Number</h4></td>
			  <td><h4>85</h4></td>
		  </tr>
		  <tr style="background-color: white; border-bottom: 1px solid black">
			  <td style="text-align: right;"><h4>Period</h4></td>
			  <td><h4>6</h4></td>
		  </tr>
		  <tr style="background-color: white; border-bottom: 1px solid black">
			  <td style="text-align: right;"><h4>Atomic Weight</h4></td>
			  <td><h4>~ 210</h4></td>
		  </tr>
		  <tr style="background-color: white; border-bottom: 1px solid black">
			  <td style="text-align: right;"><h4>Discovery</h4></td>
			  <td><h4>1940</h4></td>
		  </tr>
		  <tr style="background-color: white; border-bottom: 1px solid black">
			  <td colspan="2"><img src="WebImages/astatine.fam.jpg" alt="AstFam" id="astfamID" width=100% /></td>
		  </tr>
	  </table>
	  </div>
	  <br />
	  
	  <br /><h5 style="text-align:center;">Check out the videos below!</h5>
      <table>
          <tr>
              <td style="text-align:center">
			  <iframe width="560" height="315" src="https://www.youtube.com/embed/YnYuPj_MaO4?rel=0" frameborder="0" allowfullscreen></iframe>
			  </td>
              <td style="text-align:center">
			  <iframe width="560" height="315" src="https://www.youtube.com/embed/QHbaZFSU4_Q?rel=0" frameborder="0" allowfullscreen></iframe>
			  </td>
          </tr>
      </table>

	  <br />
	  <h4 style="text-align:center;">What did the Sodium say to the Chlorine?</h4>
	  <h4 id="punchline" style="display: none; text-align:center">I've got my ion you!</h4>
	  <br />
	  
	  <button type="button" onclick="document.getElementById('punchline').style.display='block'">Click Me for the Punchline!</button>
	  
	  <br /><br />

  </body>
</html>