<!DOCTYPE html>
<html lang="en">

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="description" content="The periodic table of elements.">
    <meta name="keywords" content="elements, periodic table, phases, families">
    <link rel="shortcut icon" href="WebImages/chemistry_logo.png">
	
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Periodic Table of the Elements</title>

	<link href="style.css" rel="STYLESHEET" type="text/css" /> 
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" integrity="sha384-2hfp1SzUoho7/TsGGGDaFdsuuDL0LX2hnUp6VkX3CUQ2K4K+xjboZdsXyp4oUHZj" crossorigin="anonymous">

     <style>
	sup {
		vertical-align: super;
		font-size: smaller;
		}

        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
           }

        td, th {
            text-align: left;
            padding: 8px;
            }

        tr:nth-child(even) {
        background-color: #dddddd;
            }

		h3.myIntroTitle {
			padding-left: 50px;
			floa: left;
			}
		p.myIntroduction {
			padding-left: 50px;
			float: left;
			}
		
		.inline { 
			width: 23%;
			display: inline-block;
			}
		
		button{
			margin:auto;
			display:block;
			}

		button{
			padding:16px 32px;
			font-size:22px;
			font-weight:500;
			color: white;
			background: #333;
			border:0;
			font-weight:100;
			}

		button:hover{
			background: #69D9E4;
			color: black;
			}
			
      </style>   
  </head>
  <body>
    <h1>Periodic Table of the Elements</h1>


      <ul>

          <li><a href= {{ url_for("index") }} >Home</a></li>
          <li><a href= {{ url_for("about") }} >About</a></li>
          <li><a href= {{ url_for("element") }} >Element</a></li>
          <li><a href= {{ url_for("family") }} >Family</a></li>
          <li><a href= {{ url_for("phase") }} >Phase</a></li>
		  
      </ul>   

      <br>
      <h2 align="center"><b>Iron</b></h2>
	  <br />
	  
      <img src="WebImages/iron.png" alt="iron" id="ironID" width=30% style="float: right;" />
	  <div class="myIntroduction"><h3 style="padding-left: 50px"><b>History, Common Uses, and Fun Facts</b></h3>
      <p style="padding-left: 50px">Iron is the fourth most abundant element, by mass, in the Earth’s crust. The core of the Earth is thought to be 
		largely composed of iron with nickel and sulfur. Iron objects have been found in Egypt dating from around 3500 BC. They contain about 7.5% 
		nickel, which indicates that they were of meteoric origin.
		The ancient Hittites of Asia Minor, today’s Turkey, were the first to smelt iron from its ores around 1500 BC and this new, stronger, metal 
		gave them economic and political power. The Iron Age had begun. Some kinds of iron were clearly superior to others depending on its carbon content, 
		although this was not appreciated. Some iron ore contained vanadium producing so-called Damascene steel, ideal for swords.
		The most common iron-containing ore is haematite, but iron is found widely distributed in other minerals such as magnetite and taconite.
		Commercially, iron is produced in a blast furnace by heating haematite or magnetite with coke (carbon) and limestone (calcium carbonate). 
		This forms pig iron, which contains about 3% carbon and other impurities, but is used to make steel. Around 1.3 billion tonnes of crude 
		steel are produced worldwide each year.  90% of all metal that is refined today is iron.
		Most is used to manufacture steel, used in civil engineering (reinforced concrete, girders etc) and in manufacturing.
		There are many different types of steel with different properties and uses. Ordinary carbon steel is an alloy of iron with carbon (from 0.1% 
		for mild steel up to 2% for high carbon steels), with small amounts of other elements.
		Alloy steels are carbon steels with other additives such as nickel, chromium, vanadium, tungsten and manganese. These are stronger and 
		tougher than carbon steels and have a huge variety of applications including bridges, electricity pylons, bicycle chains, cutting tools and rifle barrels.
		Stainless steel is very resistant to corrosion. It contains at least 10.5% chromium. Other metals such as nickel, molybdenum, titanium and copper are 
		added to enhance its strength and workability. It is used in architecture, bearings, cutlery, surgical instruments and jewellery.
		Cast iron contains 3–5% carbon. It is used for pipes, valves and pumps. It is not as tough as steel but it is cheaper. Magnets can be made of iron 
		and its alloys and compounds.
	  </p>
      </div>
	  
	  <br /><h3 style="text-align:center;"><b>Safety Concerns</b></h3>
      <table>
          <tr>
              <th style="text-align:center" rowspan="5"><img src="WebImages/ironball.jpg" alt="iron_cyl" id="iron_cylID" width=100% /></th>
              <th>Chemical Contact</th>
			  <th>Acute Health Effect</th>
              <th>First Aid Measures</th>
          </tr>
		  <tr>
              <td>Eye Contact</td>
			  <td>Irritation.</td>
              <td>Flush eyes with water for 10 minutes.</td>
          </tr>		  
		  <tr>
              <td>Skin Contact</td>
			  <td>Irritation.</td>
              <td>Wash skin gently and with water and non-abrasive soap.</td>
          </tr>
		  <tr>
              <td>Ingestion</td>
			  <td>Can cause death, stomach and intestinal distress.</td>
              <td>Call doctor.</td>
          </tr>
      </table>	  	  
	  
	  <br /><p style="text-align:center;">For more on the safety data sheet, click <a href="http://www.sciencelab.com/msds.php?msdsId=9924400">here</a>.</p>
	  
	  <br /><h3 style="text-align:center;"><b>Technical Properties</b></h3>
	  
	  <div align="center">
	  <table class="inline">
		  <th>
		  <tr>
			  <th style="text-align:center; background-color: black; color: white" colspan="2">Classifications</th>
		  </tr>
		  <tr>
			  <td style="text-align: right; border-bottom: 1px solid black;"width="140px">Atomic Number</td>
			  <td style="border-bottom: 1px solid black;" width="125px">26</td>
		  </tr>
		  <tr style="background-color: white;">
			  <td style="text-align: right; border-bottom: 1px solid black;">Atomic Weight</td>
			  <td style="border-bottom: 1px solid black;">55.845</td>
		  </tr>
		  <tr style="background-color: white;">
			  <td style="text-align: right; border-bottom: 1px solid black;"><a href= {{ url_for("family") }} >Family</a></td>
			  <td style="border-bottom: 1px solid black;"><a href= {{ url_for("transitionmetal") }} >Transition Metal</a></td>
		  </tr>
		  <tr style="background-color: white;">
			  <td style="text-align: right; border-bottom: 1px solid black;"><a href= {{ url_for("phase") }} >Phase</a></td>
			  <td style="border-bottom: 1px solid black;"><a href= {{ url_for("solid.html") }} >Solid</a></td>
		  </tr>
		  <tr style="background-color: white;">
			  <td style="text-align: right; border-bottom: 1px solid black;">CAS Number</td>
			  <td style="border-bottom: 1px solid black;">7439-89-6</td>
		  </tr>
	  </table>
	  <table class="inline">
		  <tr>
			  <th style="text-align:center; background-color: black; color: white" colspan="2">Thermal Properties</th>
		  </tr>
		  <tr style="background-color: white;">
			  <td style="text-align: right; border-bottom: 1px solid black;" width="140px">Melting Point</td>
			  <td style="border-bottom: 1px solid black;" width="125px">1538<sup>o</sup>C</td>
		  </tr>
		  <tr style="background-color: white;">
			  <td style="text-align: right; border-bottom: 1px solid black;">Boiling Point</td>
			  <td style="border-bottom: 1px solid black;">2861<sup>o</sup>C</td>
		  </tr>
		  <tr style="background-color: white;">
			  <td style="text-align: right; border-bottom: 1px solid black;">Heat of Fusion</td>
			  <td style="border-bottom: 1px solid black;">13.8 kJ/mol</td>
		  </tr>
		  <tr style="background-color: white;">
			  <td style="text-align: right; border-bottom: 1px solid black;">Heat of Vaporization</td>
			  <td style="border-bottom: 1px solid black;">347 kJ/mol</td>
		  </tr>
		  <tr style="background-color: white;">
			  <td style="text-align: right; border-bottom: 1px solid black;">Specific Heat</td>
			  <td style="border-bottom: 1px solid black;">449 J(kg K)</td>
		  </tr>
	  </table>
	  <table class="inline">
		  <th>
		  <tr>
			  <th style="text-align:center; background-color: black; color: white" colspan="2">Abundance</th>
		  </tr>
		  <tr style="background-color: white;">
			  <td style="text-align: right; border-bottom: 1px solid black;"width="125px">% in Universe</td>
			  <td style="border-bottom: 1px solid black;" width="110px">0.11%</td>
		  </tr>
		  <tr style="background-color: white;">
			  <td style="text-align: right; border-bottom: 1px solid black;">% in Sun</td>
			  <td style="border-bottom: 1px solid black;">0.1%</td>
		  </tr>
		  <tr style="background-color: white;">
			  <td style="text-align: right; border-bottom: 1px solid black;">% in Earth's Crust</td>
			  <td style="border-bottom: 1px solid black;">6.3%</td>
		  </tr>
		  <tr style="background-color: white;">
			  <td style="text-align: right; border-bottom: 1px solid black;">% in Oceans</td>
			  <td style="border-bottom: 1px solid black;">3x10<sup>-7</sup>%</td>
		  </tr>
		  <tr style="background-color: white;">
			  <td style="text-align: right; border-bottom: 1px solid black;">% in Humans</td>
			  <td style="border-bottom: 1px solid black;">0.006%</td>
		  </tr>
	  </table>
	  <table class="inline">
		  <th>
		  <tr>
			  <th style="text-align:center; background-color: black; color: white" colspan="2">Atomic Dimensions</th>
		  </tr>
		  <tr style="background-color: white;">
			  <td style="text-align: right; border-bottom: 1px solid black;"width="210px">Atomic Radius</td>
			  <td style="border-bottom: 1px solid black;" width="125px">156 pm</td>
		  </tr>
		  <tr style="background-color: white;">
			  <td style="text-align: right; border-bottom: 1px solid black;">Covalent Radius</td>
			  <td style="border-bottom: 1px solid black;">125 pm</td>
		  </tr>
		  <tr style="background-color: white;">
			  <td style="text-align: right; border-bottom: 1px solid black;">Van der Waals Radius</td>
			  <td style="border-bottom: 1px solid black;">N/A</td>
		  </tr>
		  <tr style="background-color: white;">
			  <td style="text-align: right; border-bottom: 1px solid black;">Space Group Name</td>
			  <td style="border-bottom: 1px solid black;">Im_3m</td>
		  </tr>
		  <tr style="background-color: white;">
			  <td style="text-align: right; border-bottom: 1px solid black;">Space Group Number</td>
			  <td style="border-bottom: 1px solid black;">225</td>
		  </tr>
	  </table>
	  </div>
	  <br />
	  
	  <br /><h5 style="text-align:center;">Check out the videos below!</h5>
      <table>
          <tr>
              <td style="text-align:center">
			  <iframe width="560" height="315" src="https://www.youtube.com/embed/zRLYhJinXSI" frameborder="0" allowfullscreen></iframe>
			  </td>
              <td style="text-align:center">
			  <iframe width="560" height="315" src="https://www.youtube.com/embed/JUsjeKoR59w" frameborder="0" allowfullscreen></iframe>
			  </td>
          </tr>
      </table>
	  
	  <br />
	  <h4 style="text-align:center;">What do you call iron blowing in the wind?</h4>
	  <h4 id="punchline" style="display: none; text-align:center">"Fe-breeze"</h4>
	  <br />
	  
	  <button type="button" onclick="document.getElementById('punchline').style.display='block'">Click Me for the Punchline!</button>
	  
	  <br /><br />

  </body>
</html>