<!DOCTYPE html>
<html lang="en">

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="description" content="The periodic table of elements.">
    <meta name="keywords" content="elements, periodic table, phases, families">
    <link rel="shortcut icon" href="static/WebImages/chemistry_logo.png">
	
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Periodic Table of the Elements</title>

	<link href="style.css" rel="STYLESHEET" type="text/css" /> 
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" integrity="sha384-2hfp1SzUoho7/TsGGGDaFdsuuDL0LX2hnUp6VkX3CUQ2K4K+xjboZdsXyp4oUHZj" crossorigin="anonymous">

     <style>


        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
           }

        td, th {
            text-align: left;
            padding: 8px;
            }

        tr:nth-child(even) {
        background-color: #dddddd;
            }

		h3.myIntroTitle {
			padding-left: 50px;
			floa: left;
			}
		p.myIntroduction {
			padding-left: 50px;
			float: left;
			}
		
		.inline { 
			width: 23%;
			display: inline-block;
			}
		
		button{
			margin:auto;
			display:block;
			}

		button{
			padding:16px 32px;
			font-size:22px;
			font-weight:500;
			color: white;
			background: #333;
			border:0;
			font-weight:100;
			}

		button:hover{
			background: #69D9E4;
			color: black;
			}
		section{
    text-align: center;
    }

          li {
              float: left;
          }

              li a {
                  display: block;
                  color: white;
                  text-align: center;
                  padding: 14px 16px;
                  text-decoration: none;
              }

                  li a:hover:not(.active) {
                      background-color: #111;
                  }

          .active {
              background-color: #69D9E4;
          }

                ul {
              list-style-type: none;
              margin: 0;
              padding: 0;
              overflow: hidden;
              background-color: #333;
          }	
      </style>   
  </head>
  <body>
    <h1>Periodic Table of the Elements</h1>


      <ul>

          <li><a href= {{ url_for("index") }} >Home</a></li>
          <li><a href= {{ url_for("about") }} >About</a></li>
          <li><a href= {{ url_for("element") }} >Element</a></li>
          <li><a href= {{ url_for("family") }} >Family</a></li>
          <li><a href= {{ url_for("phase") }} >Phase</a></li>
		  
      </ul>   

      <br>
      <h2 align="center"><b>Lithium</b></h2>
	  <br />
	  
      <img src="static/WebImages/lithium.png" alt="lithium" id="lithiumID" width=32% style="float: right;" />
	  <div class="myIntroduction"><h3 style="padding-left: 50px"><b>History, Common Uses, and Fun Facts</b></h3>
      <p style="padding-left: 50px">The word "lithium" is derived from the Greek word for stone, "lithos", because it was first discovered in stone. 
	  Lithium is one of several alkali metals discovered and named in the early 1800s. The other two, sodium and potassium were also named after the
	  materials that were being studied when they were discovered. It has the lowest density of all metals. The most important use of lithium is in rechargeable batteries for mobile phones, 
	  laptops, digital cameras and electric vehicles. Lithium is also used in some non-rechargeable batteries for things like heart pacemakers, toys and clocks.
	  Lithium metal is made into alloys with aluminium and magnesium, improving their strength and making them lighter. A magnesium-lithium alloy is used for armour plating. 
	  Aluminium-lithium alloys are used in aircraft, bicycle frames and high-speed trains.Lithium oxide is used in special glasses and glass ceramics. Lithium chloride is one 
	  of the most hygroscopic materials known, and is used in air conditioning and industrial drying systems (as is lithium bromide). Lithium carbonate is used in drugs to treat 
	  manic depression, although its action on the brain is still not fully understood. Lithium hydride is used as a means of storing hydrogen for use as a fuel. Lithium does not occur 
	  as the metal in nature, but is found combined in small amounts in nearly all igneous rocks and in the waters of many mineral springs. Spodumene, petalite, lepidolite, and amblygonite 
	  are the more important minerals containing lithium. Most lithium is currently produced in Chile, from brines that yield lithium carbonate when treated with sodium carbonate. 
	  The metal is produced by the electrolysis of molten lithium chloride and potassium chloride. Lithium was one of the three elements produced in large quantities in the Big Bang, 
	  according to physicists. The others were hydrogen and helium.
	  </p>
      </div>
	  
	  <br /><h3 style="text-align:center;"><b>Safety Concerns</b></h3>
      <table>
          <tr>
              <th style="text-align:center" rowspan="5"><img src="static/WebImages/NFPA_lithium.png" alt="NFPA_lithium" id="NFPAlithiumID" width=75% /></th>
              <th>Hazard</th>
			  <th>Color</th>
              <th>Value</th>
              <th>Description</th>
          </tr>
		  <tr>
              <td>Health</td>
			  <td><img src="static/WebImages/blue.jpg" alt="Blue" id="blueID" width=50% /></td>
              <td>3</td>
              <td>Can cause serious or permanent injury.</td>
          </tr>
		  <tr>
              <td>Flammability</td>
			  <td><img src="static/WebImages/red.png" alt="Red" id="redID" width=50% /></td>
              <td>2</td>
              <td>Must be moderately heated or exposed to relatively high ambient temperatures before ignition can occur.</td>
          </tr>
		  <tr>
              <td>Instability</td>
			  <td><img src="static/WebImages/yellow.jpg" alt="Yellow" id="yellowID" width=50% /></td>
              <td>4</td>
              <td>Readily undergoes violent chemical changes at elevated temperatures and pressures.</td>
          </tr>
		  <tr>
              <td>Special</td>
			  <td><img src="static/WebImages/white.png" alt="White" id="whiteID" width=50% /></td>
              <td style = "text-decoration: line-through;">W </td>
              <td>Reacts violently or explosively with water.</td>
          </tr>
      </table>	  
	  
	  <br /><p style="text-align:center;">For more information on the Lithium NFPA diamond, click <a href="https://cameochemicals.noaa.gov/chemical/999">here</a>.</p>
	  
	  <br /><h3 style="text-align:center;"><b>Technical Properties</b></h3>
	  
	  <div align="center">
	  <table class="inline">
		  <th>
		  <tr>
			  <th style="text-align:center; background-color: black; color: white" colspan="2">Classifications</th>
		  </tr>
		  <tr>
			  <td style="text-align: right; border-bottom: 1px solid black;"width="140px">Atomic Number</td>
			  <td style="border-bottom: 1px solid black;" width="125px">3</td>
		  </tr>
		  <tr style="background-color: white;">
			  <td style="text-align: right; border-bottom: 1px solid black;">Atomic Weight</td>
			  <td style="border-bottom: 1px solid black;">6.941</td>
		  </tr>
		  <tr style="background-color: white;">
			  <td style="text-align: right; border-bottom: 1px solid black;"><a href= {{ url_for("family") }} >Family</a></td>
			  <td style="border-bottom: 1px solid black;"><a href= {{ url_for("alkalimetal") }} >Alkali Metals</a></td>
		  </tr>
		  <tr style="background-color: white;">
			  <td style="text-align: right; border-bottom: 1px solid black;"><a href= {{ url_for("phase") }} >Phase</a></td>
			  <td style="border-bottom: 1px solid black;"><a href= {{ url_for("solid") }} >Solid</a></td>
		  </tr>
		  <tr style="background-color: white;">
			  <td style="text-align: right; border-bottom: 1px solid black;">CAS Number</td>
			  <td style="border-bottom: 1px solid black;">7439-93-2</td>
		  </tr>
	  </table>
	  <table class="inline">
		  <tr>
			  <th style="text-align:center; background-color: black; color: white" colspan="2">Thermal Properties</th>
		  </tr>
		  <tr style="background-color: white;">
			  <td style="text-align: right; border-bottom: 1px solid black;" width="140px">Melting Point</td>
			  <td style="border-bottom: 1px solid black;" width="125px">184.54 <sup>o</sup>C</td>
		  </tr>
		  <tr style="background-color: white;">
			  <td style="text-align: right; border-bottom: 1px solid black;">Boiling Point</td>
			  <td style="border-bottom: 1px solid black;">1342<sup>o</sup>C</td>
		  </tr>
		  <tr style="background-color: white;">
			  <td style="text-align: right; border-bottom: 1px solid black;">Heat of Fusion</td>
			  <td style="border-bottom: 1px solid black;">3 kJ/mol</td>
		  </tr>
		  <tr style="background-color: white;">
			  <td style="text-align: right; border-bottom: 1px solid black;">Heat of Vaporization</td>
			  <td style="border-bottom: 1px solid black;">147 kJ/mol</td>
		  </tr>
		  <tr style="background-color: white;">
			  <td style="text-align: right; border-bottom: 1px solid black;">Specific Heat</td>
			  <td style="border-bottom: 1px solid black;">3570 J(kg K)</td>
		  </tr>
	  </table>
	  <table class="inline">
		  <th>
		  <tr>
			  <th style="text-align:center; background-color: black; color: white" colspan="2">Abundance</th>
		  </tr>
		  <tr style="background-color: white;">
			  <td style="text-align: right; border-bottom: 1px solid black;"width="125px">% in Universe</td>
			  <td style="border-bottom: 1px solid black;" width="110px">6x10<sup>-7</sup>%</td>
		  </tr>
		  <tr style="background-color: white;">
			  <td style="text-align: right; border-bottom: 1px solid black;">% in Sun</td>
			  <td style="border-bottom: 1px solid black;">6x10<sup>-9</sup>%</td>
		  </tr>
		  <tr style="background-color: white;">
			  <td style="text-align: right; border-bottom: 1px solid black;">% in Earth's Crust</td>
			  <td style="border-bottom: 1px solid black;">0.0017%</td>
		  </tr>
		  <tr style="background-color: white;">
			  <td style="text-align: right; border-bottom: 1px solid black;">% in Oceans</td>
			  <td style="border-bottom: 1px solid black;">1.8x10<sup>-5</sup></td>
		  </tr
		  <tr style="background-color: white;">
			  <td style="text-align: right; border-bottom: 1px solid black;">% in Humans</td>
			  <td style="border-bottom: 1px solid black;">3x10<sup>-6</sup></td>
		  </tr>
	  </table>
	  <table class="inline">
		  <th>
		  <tr>
			  <th style="text-align:center; background-color: black; color: white" colspan="2">Atomic Dimensions</th>
		  </tr>
		  <tr style="background-color: white;">
			  <td style="text-align: right; border-bottom: 1px solid black;"width="210px">Atomic Radius</td>
			  <td style="border-bottom: 1px solid black;" width="125px">167 pm</td>
		  </tr>
		  <tr style="background-color: white;">
			  <td style="text-align: right; border-bottom: 1px solid black;">Covalent Radius</td>
			  <td style="border-bottom: 1px solid black;">134 pm</td>
		  </tr>
		  <tr style="background-color: white;">
			  <td style="text-align: right; border-bottom: 1px solid black;">Van der Waals Radius</td>
			  <td style="border-bottom: 1px solid black;">182 pm</td>
		  </tr>
		  <tr style="background-color: white;">
			  <td style="text-align: right; border-bottom: 1px solid black;">Space Group Name</td>
			  <td style="border-bottom: 1px solid black;">Im_3m</td>
		  </tr>
		  <tr style="background-color: white;">
			  <td style="text-align: right; border-bottom: 1px solid black;">Space Group Number</td>
			  <td style="border-bottom: 1px solid black;">229</td>
		  </tr>
	  </table>
	  </div>
	  <br />
	  
	  <br /><h5 style="text-align:center;">Check out the videos below!</h5>
      <table>
          <tr>
              <td style="text-align:center">
			  <iframe width="560" height="315" src="https://www.youtube.com/embed/w7FCR9Ja6yM" frameborder="0" allowfullscreen></iframe>
			  </td>
              <td style="text-align:center">
			  <iframe width="560" height="315" src="https://www.youtube.com/embed/ofNN1b7xzFw" frameborder="0" allowfullscreen></iframe>
			  </td>
          </tr>
      </table>
	  
	  <br />
	  <h4 style="text-align:center;">You made lithium react with argon?</h4>
	  <h4 id="punchline" style="display: none; text-align:center">LiAr!</h4>
	  <br />
	  
	  <button type="button" onclick="document.getElementById('punchline').style.display='block'">Click Me for the Punchline!</button>
	  
	  <br /><br />

  </body>
</html>