<!DOCTYPE html>
<html lang="en">

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="description" content="The periodic table of elements.">
    <meta name="keywords" content="elements, periodic table, phases, families">
    <link rel="shortcut icon" href="WebImages/chemistry_logo.png">
	
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Periodic Table of the Elements</title>

	<link href="style.css" rel="STYLESHEET" type="text/css" /> 
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" integrity="sha384-2hfp1SzUoho7/TsGGGDaFdsuuDL0LX2hnUp6VkX3CUQ2K4K+xjboZdsXyp4oUHZj" crossorigin="anonymous">

     <style>
	sup {
		vertical-align: super;
		font-size: smaller;
		}

        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
           }

        td, th {
            text-align: left;
            padding: 8px;
            }

        tr:nth-child(even) {
        background-color: #dddddd;
            }

		h3.myIntroTitle {
			padding-left: 50px;
			floa: left;
			}
		p.myIntroduction {
			padding-left: 50px;
			float: left;
			}
		
		.inline { 
			width: 23%;
			display: inline-block;
			}
		
		button{
			margin:auto;
			display:block;
			}

		button{
			padding:16px 32px;
			font-size:22px;
			font-weight:500;
			color: white;
			background: #333;
			border:0;
			font-weight:100;
			}

		button:hover{
			background: #69D9E4;
			color: black;
			}
			
      </style>   
  </head>
  <body>
    <h1>Periodic Table of the Elements</h1>


      <ul>

          <li><a href= {{ url_for("index") }} >Home</a></li>
          <li><a href= {{ url_for("about") }} >About</a></li>
          <li><a href= {{ url_for("element") }} >Element</a></li>
          <li><a href= {{ url_for("family") }} >Family</a></li>
          <li><a href= {{ url_for("phase") }} >Phase</a></li>
		  
      </ul>   

      <br>
      <h2 align="center"><b>Mercury</b></h2>
	  <br />
	  
      <img src="WebImages/mercury.JPG" alt="Mercury" id="MercuryID" width=30% style="float: right;" />
	  <div class="myIntroduction"><h3 style="padding-left: 50px"><b>History, Common Uses, and Fun Facts</b></h3>
      <p style="padding-left: 50px">Mercury is a heavy liquid metal, which is also toxic. Due to its toxicity,
						many uses of mercury are being phased out or are under review. It is now mainly used in 
						the chemical industry as catalysts. It is also used in some electrical switches and rectifiers. 
						Previously its major use was in the manufacture of sodium hydroxide and chlorine by electrolysis 
						of brine. These plants will all be phased out by 2020. It was also commonly used in batteries, 
						fluorescent lights, felt production, thermometers and barometers. Again, these uses have been phased out.
						Mercury easily forms alloys, called amalgams, with other metals such as gold, silver and tin. 
						The ease with which it amalgamates with gold made it useful in recovering gold from its ores. 
						Mercury amalgams were also used in dental fillings. Cinnabar (aka vermilion, mercury sulfide, HgS), 
						was used as a bright red pigment by the Palaeolithic painters of 30,000 years ago to decorate caves in 
						Spain and France. Cinnabar would yield up its mercury simply on heating in a crucible, and the metal 
						fascinated people because it was a liquid that would dissolve gold. The ancients used in on a large scale 
						to extract alluvial gold from the sediment of rivers. The mercury dissolved the gold which could be 
						reclaimed by distilling off the mercury. The Almadén deposit in Spain provided Europe with its mercury. 
						In the Americas, it was the Spanish conquerors who exploited the large deposits of cinnabar at Huancavelica 
						in order to extract gold. In 1848 the miners of the Californian Gold Rush used mercury from the New Almaden 
						Mines of California. Although highly toxic, mercury had many uses, as in thermometers, but these are now strictly curtained.
	  </p>
      </div>
	  
	  <br /><h3 style="text-align:center;"><b>Safety Concerns</b></h3>
      <table>
          <tr>
              <th style="text-align:center" rowspan="5"><img src="WebImages/GHS-6.jpg" alt="mercury_cyl" id="mercury_cylID" width=100% /></th>
              <th>Chemical Contact</th>
			  <th>Acute Health Effect</th>
              <th>First Aid Measures</th>
          </tr>
		  <tr>
              <td>Eye Contact</td>
			  <td>Redness, pain, and watery eyes.</td>
              <td>Flush eyes with water for 10 minutes. If irritation or pain persists, see a doctor.</td>
          </tr>
		  <tr>
              <td>Inhalation</td>
			  <td>Breathing difficulty, coughing, pneumonia, and pulmonary edema. Can be fatal!</td>
              <td>Relocate to fresh air. If breathing is difficult, trained personnel should administer emergency oxygen.</td>
          </tr>
		  <tr>
              <td>Skin Contact</td>
			  <td>Redness, dry skin, and pain.</td>
              <td>Wash skin gently and thoroughly with water and non-abrasive soap. Call a Poison Centre or doctor.</td>
          </tr>
		  <tr>
              <td>Ingestion</td>
			  <td>Nausea, vomiting, central nervious system effects, and damage to the kidneys.</td>
              <td>Rinse mouth with water. Immediately call a Poison Centre or doctor.</td>
          </tr>
      </table>	  	  
	  
	  <br /><p style="text-align:center;">For more on the safety data sheet, click <a href="https://www.bethlehemapparatus.com/pdf/MSDS.pdf">here</a>.</p>
	  
	  <br /><h3 style="text-align:center;"><b>Technical Properties</b></h3>
	  
	  <div align="center">
	  <table class="inline">
		  <th>
		  <tr>
			  <th style="text-align:center; background-color: black; color: white" colspan="2">Classifications</th>
		  </tr>
		  <tr>
			  <td style="text-align: right; border-bottom: 1px solid black;"width="140px">Atomic Number</td>
			  <td style="border-bottom: 1px solid black;" width="125px">80</td>
		  </tr>
		  <tr style="background-color: white;">
			  <td style="text-align: right; border-bottom: 1px solid black;">Atomic Weight</td>
			  <td style="border-bottom: 1px solid black;">200.59</td>
		  </tr>
		  <tr style="background-color: white;">
			  <td style="text-align: right; border-bottom: 1px solid black;"><a href= {{ url_for("family") }} >Family</a></td>
			  <td style="border-bottom: 1px solid black;"><a href= {{ url_for("transitionmetal") }} >Transition Metal</a></td>
		  </tr>
		  <tr style="background-color: white;">
			  <td style="text-align: right; border-bottom: 1px solid black;"><a href= {{ url_for("phase") }} >Phase</a></td>
			  <td style="border-bottom: 1px solid black;"><a href= {{ url_for("liquid") }} >Liquid</a></td>
		  </tr>
		  <tr style="background-color: white;">
			  <td style="text-align: right; border-bottom: 1px solid black;">CAS Number</td>
			  <td style="border-bottom: 1px solid black;">7439-97-6</td>
		  </tr>
	  </table>
	  <table class="inline">
		  <tr>
			  <th style="text-align:center; background-color: black; color: white" colspan="2">Thermal Properties</th>
		  </tr>
		  <tr style="background-color: white;">
			  <td style="text-align: right; border-bottom: 1px solid black;" width="140px">Melting Point</td>
			  <td style="border-bottom: 1px solid black;" width="125px">-38.83 <sup>o</sup>C</td>
		  </tr>
		  <tr style="background-color: white;">
			  <td style="text-align: right; border-bottom: 1px solid black;">Boiling Point</td>
			  <td style="border-bottom: 1px solid black;">356.73 <sup>o</sup>C</td>
		  </tr>
		  <tr style="background-color: white;">
			  <td style="text-align: right; border-bottom: 1px solid black;">Heat of Fusion</td>
			  <td style="border-bottom: 1px solid black;">2.29 kJ/mol</td>
		  </tr>
		  <tr style="background-color: white;">
			  <td style="text-align: right; border-bottom: 1px solid black;">Heat of Vaporization</td>
			  <td style="border-bottom: 1px solid black;">59.2 kJ/mol</td>
		  </tr>
		  <tr style="background-color: white;">
			  <td style="text-align: right; border-bottom: 1px solid black;">Specific Heat</td>
			  <td style="border-bottom: 1px solid black;">139.5 J(kg K)</td>
		  </tr>
	  </table>
	  <table class="inline">
		  <th>
		  <tr>
			  <th style="text-align:center; background-color: black; color: white" colspan="2">Abundance</th>
		  </tr>
		  <tr style="background-color: white;">
			  <td style="text-align: right; border-bottom: 1px solid black;"width="125px">% in Universe</td>
			  <td style="border-bottom: 1px solid black;" width="110px">1x10<sup>-7</sup>%</td>
		  </tr>
		  <tr style="background-color: white;">
			  <td style="text-align: right; border-bottom: 1px solid black;">% in Sun</td>
			  <td style="border-bottom: 1px solid black;">2x10<sup>-6</sup>%</td>
		  </tr>
		  <tr style="background-color: white;">
			  <td style="text-align: right; border-bottom: 1px solid black;">% in Earth's Crust</td>
			  <td style="border-bottom: 1px solid black;">6.7x10<sup>-6</sup>%</td>
		  </tr>
		  <tr style="background-color: white;">
			  <td style="text-align: right; border-bottom: 1px solid black;">% in Oceans</td>
			  <td style="border-bottom: 1px solid black;">5x10<sup>-9</sup>%</td>
		  </tr>
		  <tr style="background-color: white;">
			  <td style="text-align: right; border-bottom: 1px solid black;">% in Meteorites</td>
			  <td style="border-bottom: 1px solid black;">2.5x10<sup>-5</sup>%</td>
		  </tr>
	  </table>
	  <table class="inline">
		  <th>
		  <tr>
			  <th style="text-align:center; background-color: black; color: white" colspan="2">Atomic Dimensions</th>
		  </tr>
		  <tr style="background-color: white;">
			  <td style="text-align: right; border-bottom: 1px solid black;"width="210px">Atomic Radius</td>
			  <td style="border-bottom: 1px solid black;" width="125px">171 pm</td>
		  </tr>
		  <tr style="background-color: white;">
			  <td style="text-align: right; border-bottom: 1px solid black;">Covalent Radius</td>
			  <td style="border-bottom: 1px solid black;">149 pm</td>
		  </tr>
		  <tr style="background-color: white;">
			  <td style="text-align: right; border-bottom: 1px solid black;">Van der Waals Radius</td>
			  <td style="border-bottom: 1px solid black;">155 pm</td>
		  </tr>
		  <tr style="background-color: white;">
			  <td style="text-align: right; border-bottom: 1px solid black;">Space Group Name</td>
			  <td style="border-bottom: 1px solid black;">R_3m</td>
		  </tr>
		  <tr style="background-color: white;">
			  <td style="text-align: right; border-bottom: 1px solid black;">Space Group Number</td>
			  <td style="border-bottom: 1px solid black;">166</td>
		  </tr>
	  </table>
	  </div>
	  <br />
	  
	  <br /><h5 style="text-align:center;">Check out the videos below!</h5>
      <table>
          <tr>
              <td style="text-align:center">
			  <iframe width="560" height="315" src="https://www.youtube.com/embed/Q1ZA8ZrK3U4" frameborder="0" allowfullscreen></iframe>
			  </td>
              <td style="text-align:center">
			  <iframe width="560" height="315" src="https://www.youtube.com/embed/Z0fdF0gOfBQ" frameborder="0" allowfullscreen></iframe>
			  </td>
          </tr>
      </table>
	  
	  <br />
	  <h4 style="text-align:center;">A hug without u...</h4>
	  <h4 id="punchline" style="display: none; text-align:center">is just mercury.</h4>
	  <br />
	  
	  <button type="button" onclick="document.getElementById('punchline').style.display='block'">Click Me for the Punchline!</button>
	  
	  <br /><br />

  </body>
</html>